*{
    box-sizing: border-box;
}
/* 
.body{
    width:100%;
    height:100%;
    align-items: center;
    display: flex;
    justify-content: center;
} */
.box{
    display:flex;
    height:100%;
    width:80%;
    transform: translateX(15%) translateY(-6%);

}
.item{
    flex-basis: 33.3%;
}
.item1{
    width: 80%;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 8px 8px 8px;
    transform: translateY(150%);
    height:250px;
    border-top: 3px solid skyblue;
}
.item2{
    width:80%;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 8px 8px 8px;
    transform:translateY(80%);
    height:250px;
    border-top: 3px solid red;
}
.item3{
    width: 80%;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 8px 8px 8px;
    transform:translateY(120%);
    height:250px;
    border-top: 3px solid orange;
}

.item4{
    width: 80%;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 8px 8px 8px;
    transform: translateY(150%);
    height:250px;
    border-top: 3px solid rgb(130, 130, 248);
}


.item1 img{
    float: right;
    margin-top: 40px;
}

.item2 img{
    float: right;
    margin-top: 20px;
}

.item3 img{
    float: right;
    margin-top: 40px;
}

.item4 img{
    float: right;
    margin-top: 25px;
}

h3{
    font-size: 30px;
}

p{
    font-size: 18px;
}

/* media responsive */

@media (min-width:321px) and (max-width:425px) {
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .item1{
        width: 100%;
        transform: translateY(50%);
    }

    .item2{
        width: 100%;
    }

    .item3{
        width: 100%;
    }

    .item4{
        width: 100%;
    }

    .item1 img{
        margin-top: 15px;
    }

    .item2 img{
        margin-top: 15px;
    }
    
    .item3 img{
        margin-top: 15px;
    }

}

@media (max-width:320px) {
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .item1{
        width: 100%;
        transform: translateY(50%);
    }

    .item2{
        width: 100%;
    }

    .item3{
        width: 100%;
    }

    .item4{
        width: 100%;
        
    }

    .item{
        margin-top: 10px;
    }

    .item img{
        margin-top: 17px;
    }

    .item2 img{
        margin-top: 1px;
    }
    
    .item4 img{
        margin-top: 10px;
    }
}

@media (min-width:426px) and (max-width:768px) {
    .box{
        display: grid;
        grid-template-columns: auto auto;
    }

    .item1{
        transform: translateY(80%);
    }

    .item4{
        transform: translateY(15%);
    }

    .item1, .item2, .item3, .item4{
        width: 100%;
    }

    .item3{
        margin: 10px;
    }

    .item2, .item3{
        margin-left: 20px;
    }

    .item1 img, .item2 img, .item3 img{
        margin-top: 20px;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    
    .item1, .item2, .item3, .item4{
        width: 100%;
    }

    .item2{
        transform: translateY(60%);
    }

    .item1{
        transform: translateY(140%) translateX(-10%);
    }

    .item4{
        transform: translateY(140%) translateX(10%);
    }

    .item1 img, .item2 img{
        margin-top: 15px;
    }

    .item3 img{
        margin-top: 20px;
    }

    .item4 img{
        margin-top: 25px;
    }
}

@media (min-width:1025px) and (max-width:1440px) {
    .item1 img, .item3 img{
        margin-top: 20px;
    }
}