/* *{
    font-family: 'Times New Roman', Times, serif;
} */

/* body{
    background-color: aliceblue;
} */

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}


.top-header{
    font-size: 40px;
    text-align: center;
}

.submit:hover{
    box-shadow: 1px 5px 7px 1px;
}

.log{
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

.sign{
    display: flex;
    flex-direction: column;
    padding: 10px;
   
}

.input{
    border-radius: 10px;
    width: 90%;
    height: 30px;
    margin: 10px;
}
.bottom{
    display: flex;
    flex-direction: row;
    font-size: medium;
    float: left;
    
}

.right{
    float:right;
}