.container{
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    position: absolute;
    font-size: 100px;
    font-style: italic;
    
}

